@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
}

.key {
  min-width: fit-content;
  width: 30px;
}

@media screen and (min-width: 640px) {
  .key {
    width: 40px;
  }
}

.correct {
  background-color: #538d4e;
  border: none;
}

.present {
  background-color: #b59f3b;
  border: none;
}

.absent {
  background-color: #3a3a3c;
  border: none;
}
